.navbar02 {
  background-color: #5a17f6;
  color: #fff;
  padding: 10px 20px;
}

.navbar02-header02 {
  display: flex;
  align-items: center;
}

.navbar-brand02 {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.sidebar02 {
  background-color: #5a17f6;
  color: #fff;
  width: 250px;
  height: 100%;
  position: fixed;
  left: -250px; /* Ocultar inicialmente el sidebar */
  top: 0;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.sidebar02 h1 {
  padding: 20px;
  text-align: center;
}

.sidebar02 ul {
  list-style-type: none;
  padding: 0;
}

.sidebar02 ul ul {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.sidebar02 ul li {
  padding: 10px;
  border-bottom: 1px solid #666;
}

.sidebar02 ul li:hover ul {
  display: block;
}

.sidebar02 ul li a {
  color: #fff;
  text-decoration: none;
}

.content02 {
  margin-left: 250px;
  padding: 20px;
}

/* Agrega este estilo al final de tu archivo CSS */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.banner01 {
  position: relative;
  left: 300px;
  position: fixed;
}

.footer02 {
  background-color: #5c4bf6;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content02 {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content02 p {
  margin: 0;
}
